*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    text-align: center !important;
    background-color: cadetblue !important;
    margin:5%;
  }
  
  .container {
    border: 2px solid gray !important;
    border-radius: 10px !important;
    height: 400px !important;
    width: 400px !important;
    display: grid !important;
    padding: 10px;
  }
  button {
    height: 50px;
    width: 80px;
    gap: 10px !important;
    row-gap: 50px !important;
    border: 2px solid gray !important;
    border-radius: 10px !important;
  }
  #title{
      color: brown;
      margin:20PX;
  }
  #description{
    color: rgb(33, 10, 10);
    font-size: x-large;
  }
